 :root {
    --flex-display: flex;
    --justify-space-between: space-between;
    --align-center: center;
    --box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 4px 6px -1px rgba(0,0,0,0.6);
} 

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    --color-bg: #bdbdbd;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
}

body.dark-mode{
    --color-bg: #212E37;
    --color-bg-secondary: #2B3743;
    --color-text: #ffffff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-fluid {
    width: 100%;
}

/*Espaciados*/
.my-2 {
    margin-top: 2rem;
}

/*Navbar */
.navbar{
    background-color: var(--color-bg-secondary);
    box-shadow: var(--box-shadow);
}

.navbar-content{
    display: var(--flex-display);
    justify-content: var(--justify-space-between);
    align-items: var(--align-center);

}

.btn-dark-mode{
    background-color: var(--color-bg-secondary);
    opacity: 1;
    transition: 0.3s;
    color: var(--color-text);
    border: none;
    cursor: pointer; /* border none lo borra */
    outline: none;
}
.btn-dark-mode:hover {
    opacity: 0.6;
}

/*filters*/
.filter-content{
    display: var(--flex-display);
    justify-content: var(--justify-space-between);
    align-items: var(--align-center);
}

.form-search{
    box-shadow: var(--box-shadow);
    background-color: var(--color-bg-secondary);
    padding: 1rem;
}

.form-search i {
    opacity:05;
}

.form-search input {
    border:none;
    outline: none;
    margin-left: 1rem;
    background-color:var(--color-bg-secondary);
    color: var(--color-text)
}

/*Main*/
.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
}
.card{
    position: relative;
    top:40%;
    margin-top:-15%;
}
/* Estyles card*/
.card-content {
    box-shadow: var(--box-shadow);
    background-color: var(--color-bg-secondary);
    width: 110%;
    height: 160px;
    position: static;
    margin-top:-33%;
    padding:0%;
    line-height: 5%;
    border-bottom-left-radius:0.35rem;
    border-bottom-right-radius:0.35rem;
}
.card-content h2 {
    line-height: 80%;
    position:absolute;
    margin-top: 11%;
    margin-left:2px;
    font-size: 1rem;
}

.card-content p {
    font-size: 1rem;
    position:relative;
    top:62px;
    margin-top: 1%;
    margin-left:-35px;
    bottom: -45px;
}
/* Estiles for the img flag */
.img{
    position: relative;
    top:-12%;
    width: 110%;
    height: 45%;
    border-top-left-radius:0.35rem;
    border-top-right-radius:0.35rem;
}
/* Estyles of modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    box-shadow: var(--box-shadow);
    background-color: var(--color-bg-secondary);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#pagination-container{
    position: absolute;
    right: 10%;
}
#pagination-container button{
    position: static;  
    width: 50px;
    height: 50px;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--box-shadow);
}

@media (max-width: 1000px){
    .grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 750px){
    .grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px){
    .navbar-content{
        font-size: 0.6rem;
    }
    .filter-content{
        flex-direction: column;
        align-items: flex-start;
    }
   .form-search{
    width:100%;
    margin-bottom: 1rem;
   }
   
   .form-serach input{
    width: 100%;
   }
    .grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}